#root {
  width: 100%;
  height: 100%;
  line-height: 1.4;
}

strong {
  font-weight: 500;
}

/* Page */

.page {
  height: 100vh;
  padding: calc(5% + .5em) 5% 5%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: opacity 1s ease-in-out, box-shadow 1s ease-in-out;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, .5) inset;
  opacity: 0;
}

.page-exit .page__inner {
  opacity: 0;
  transform: scale(0.1);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

@mixin obj($w,$h,$bg) {
  width: $w;
  height: $h;
  background: $bg;
}

@mixin anim($listName,$delay){
  @each $currentBox in $listName {
    $i: index($listName, $currentBox);
    &:nth-child(#{$currentBox}) {
      animation-delay: 0.1s * $i + $delay;
    }
  }
}

.loader {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include obj(auto,auto,null);

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    animation:rot 16s linear infinite;
    @keyframes :global(rot) {
      100% {
        transform:rotate(360deg);
      }
    }
  }

  li {
    @include obj(38px,38px,rgba(102, 31, 255, 0.616));
    border-radius:1px;
    box-shadow: 0 0 1px #fff, 0 0 5px rgb(255, 132, 31), 0 0 10px #651FFF, 0 0 15px #651FFF, 0 0 25px #651FFF, 0 0 55px #651FFF;
    animation: scale 1s linear alternate infinite;

    @keyframes :global(scale) {
      100% {
        transform: scale(.1);
        opacity: 0;
      }
    }
    @for $i from 1 through 25 {
      &:nth-child(#{$i}) {
        z-index: 25 - $i;
      }
    }
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
      }
      &:nth-child(#{$i + 6}) {
        @if ($i<5) {
          animation-delay: 0.1s * $i + 0.2s;
        }
      }
      &:nth-child(#{$i + 12}) {
        @if ($i<4) {
          animation-delay: 0.1s * $i + 0.4s;
        }
      }
      &:nth-child(#{$i + 18}) {
        @if ($i<3) {
          animation-delay: 0.1s * $i + 0.6s;
        }
      }
      &:nth-child(#{$i + 23}) {
        @if ($i<2) {
          animation-delay: 0.1s * $i + 0.8s;
        }
      }
    }

    $fCol: 1 6 11 16 21;
    @include anim($fCol,0);

    $sCol: 7 12 17 22;
    @include anim($sCol,0.2s);

    $tCol: 13 18 23;
    @include anim($tCol,0.4s);

    $foCol: 19 24;
    @include anim($foCol,0.6s);

    &:nth-child(25) {
      animation-delay: 0.9s;
    }
  }
}

.docArea {
  margin-top: 10px;
  padding: 10px;
  background: #3333337d;
  border-radius: 10px;
  white-space: pre-wrap;
}

.markdown-wrapper {
  pre {
    @extend .docArea;
  }

  .language-mermaid {
    text-align: center;
  }

  .language-mermaid {
    display: block;
    text-align: center;
    width: 100%;
  }

  .text-align-center {
    text-align: center;
  }
}
