@import './sizes.scss';

#theme-background {
  @extend .fullscreen;
}

#theme-background-fluid {
  @extend .fullscreen;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

.royal {
  background: #141e30;
  background: linear-gradient(to right, #141e30, #243b55);
}

.solidVault {
  background: #3a7bd5;
  background: linear-gradient(to right, #3a7bd5, #3a6073);
}

.fireWatch {
  background: #cb2d3e; 
  background: linear-gradient(to right, #ef473a, #cb2d3e);
}

.servQuick {
  background: #485563; 
  background: linear-gradient(to right, #29323c, #485563);
}

.sunrise {
  background: #FF512F; 
  background: linear-gradient(to right, #F09819, #FF512F);
}

.mirage {
  background: #16222A; 
  background: linear-gradient(to right, #3A6073, #16222A);
}

.stellar {
  background: #7474BF; 
  background: linear-gradient(to right, #348AC7, #7474BF);
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
